<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div class="container" id="todoList">
        <h1 class="mt-5">Add Your Todo Here : </h1>
        <todo-input></todo-input>
        <div class="input-group mb-5 mt-4">
            <input v-model="newTodo" id="todoField" type="text" class="form-control border border-warning" placeholder="Add your todo" aria-label="Recipient's username" aria-describedby="button-addon2" >
            <button @click="addTodo" class="btn btn-warning" type="button" id="button-addon2" onclick="document.getElementById('todoField').value = ''">Add</button>
        </div>

        <div class="todo-list">
            <ul class="list-group">
                <li v-for=" todo in todos" class="list-group-item d-flex align-items-center justify-content-between">{{ todo }} <div class="buttons"><button class="btn btn-info btn-sm me-3">Edit</button><button class="btn btn-danger btn-sm">Delete</button></div></li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="main.js"></script>
    <script src="component/todo-input.js"></script>
    <script>
    const mountedapp = app.mount('#todoList');
    </script>
</body>
</html>
